In [9]:
import numpy as np
np.set_printoptions(threshold=np.inf)
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer
from scipy import stats
%matplotlib inline

# Importar Raw Data
El siguiente data set consiste en definir si una persona con los features (Country, Age y Salary), compra o no (Purchased) un objeto item (etiquetas)

In [10]:
# Importar Raw Data
# https://www.kaggle.com/yashsawarn/wifi-stretgth-for-rooms
# Base de datos modificados para generar Valores Faltantes
# Base de datos modificadas para generar Outliers
dataset = pd.read_csv('train-wifi stretgth for rooms.csv')
#dataset = dataset.head(n=30) #Descomentar linea si quiero los primero n elementos del dataset
print("Cantidad de elementos NaN por columna")
print(dataset.isna().sum())
print("******************************************************")
print("Visualizacion de los primeros elementos del dataset")
dataset.head(100)

Cantidad de elementos NaN por columna
ID           0
Router A    10
Router B    11
Router C     8
Router D     9
Router E    10
Router F    13
Router G     8
Room ID      0
dtype: int64
******************************************************
Visualizacion de los primeros elementos del dataset

,ID,Router A,Router B,Router C,Router D,Router E,Router F,Router G,Room ID
0,ID_1,-64.0,-56.0,-61.0,-66.0,-71.0,-82.0,-81.0,1
1,ID_2,-68.0,-57.0,-61.0,-65.0,-71.0,-85.0,-85.0,1
2,ID_3,-63.0,-60.0,-60.0,-67.0,-76.0,-85.0,-84.0,1
3,ID_4,-61.0,-60.0,-68.0,-5.0,-77.0,-90.0,-80.0,1
4,ID_5,-63.0,-65.0,-60.0,-63.0,-77.0,-81.0,-87.0,1
...,...,...,...,...,...,...,...,...,...
95,ID_96,-74.0,-62.0,-66.0,-70.0,-76.0,-89.0,-87.0,1
96,ID_97,-71.0,-62.0,-63.0,-69.0,-75.0,-85.0,-87.0,1
97,ID_98,-71.0,-64.0,-64.0,-70.0,-78.0,-88.0,-94.0,1
98,ID_99,-70.0,-64.0,-66.0,-73.0,-78.0,-87.0,-94.0,1
99,ID_100,-72.0,-62.0,-63.0,-76.0,-81.0,-84.0,-91.0,1

# Tecnica de sustitucion de valores faltantes.

In [11]:
dataset.fillna(dataset.mean(), inplace = True)
print("Cantidad de elementos NaN por columna")
print(dataset.isna().sum())
print("******************************************************")
print("Se observa que los NaN han sido eliminados")
dataset.head(n=100)

Cantidad de elementos NaN por columna
ID          0
Router A    0
Router B    0
Router C    0
Router D    0
Router E    0
Router F    0
Router G    0
Room ID     0
dtype: int64
******************************************************
Se observa que los NaN han sido eliminados

,ID,Router A,Router B,Router C,Router D,Router E,Router F,Router G,Room ID
0,ID_1,-64.0,-56.0,-61.0,-66.0,-71.0,-82.0,-81.0,1
1,ID_2,-68.0,-57.0,-61.0,-65.0,-71.0,-85.0,-85.0,1
2,ID_3,-63.0,-60.0,-60.0,-67.0,-76.0,-85.0,-84.0,1
3,ID_4,-61.0,-60.0,-68.0,-5.0,-77.0,-90.0,-80.0,1
4,ID_5,-63.0,-65.0,-60.0,-63.0,-77.0,-81.0,-87.0,1
...,...,...,...,...,...,...,...,...,...
95,ID_96,-74.0,-62.0,-66.0,-70.0,-76.0,-89.0,-87.0,1
96,ID_97,-71.0,-62.0,-63.0,-69.0,-75.0,-85.0,-87.0,1
97,ID_98,-71.0,-64.0,-64.0,-70.0,-78.0,-88.0,-94.0,1
98,ID_99,-70.0,-64.0,-66.0,-73.0,-78.0,-87.0,-94.0,1
99,ID_100,-72.0,-62.0,-63.0,-76.0,-81.0,-84.0,-91.0,1

# Tecnica de deteccion/eliminacion de outliers.

In [19]:
def removeOutlier(matrix,column):
    #matrix = matrix.to_numpy()
    print("################################################################")
    print("Evaluando valores de la columna#",column)
    columna = matrix[:,column] 
    mean = np.mean(columna, axis = 0)  
    print("Media",mean)
    sd = np.std(columna, axis = 0)
    print("Desviacion estandar",sd)
    i = 0
    itemToDelete = []
    upperLimit = mean + 3*sd
    lowerLimit = mean - 3*sd
    print("mean - 3*sd",mean - 3*sd)
    print("mean + 3*sd",mean + 3*sd)
    for k in columna:              
        if not (lowerLimit <= k <= upperLimit): 
            itemToDelete.append(i)            
        i = i +1
    
    print("Rows needed to be removed")
    for row in itemToDelete:       
        print("***************************************")            
        print("Outlier removido con valor",matrix[row,column]," en columna #",column)        
        print(matrix[row,:])
        np.delete(matrix,row,0)
        
                    
              
    return matrix


removeOutlier(dataset.to_numpy(),1)

"""
datasetSinOutlier = dataset.to_numpy() 

for b in range(1,8):
    datasetSinOutlier = removeOutlier(datasetSinOutlier,b)
    

print("################################################################")
print("A continuacion se muestra el dataset sin outliers, descartados bajo el criterio de desviacion estandar ")
print(datasetSinOutlier)
"""

################################################################
Evaluando valores de la columna# 1
Media -52.2234899328859
Desviacion estandar 11.70369109447525
mean - 3*sd -87.33456321631165
mean + 3*sd -17.112416649460144
Rows needed to be removed
***************************************
Outlier removido con valor -6.0  en columna # 1
['ID_160' -6.0 -51.0 -53.0 -60.0 -67.0 -78.0 -85.0 1]
***************************************
Outlier removido con valor -14.0  en columna # 1
['ID_405' -14.0 -58.0 -60.0 -38.0 -74.0 -74.0 -73.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_406' -17.0 -66.0 -61.0 -37.0 -68.0 -75.0 -77.0 2]
***************************************
Outlier removido con valor -16.0  en columna # 1
['ID_407' -16.0 -70.0 -58.0 -14.0 -63.5993288590604 -71.0 -80.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_411' -17.0 -63.0 -60.0 -14.0 -72.0 -72.0 -77.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_412' -17.0 -61.0 -60.0 -15.0 -72.0 -69.0 -79.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_413' -17.0 -74.0 -60.0 -15.0 -73.0 -71.0 -80.0 2]
***************************************
Outlier removido con valor -16.0  en columna # 1
['ID_414' -16.0 -59.0 -60.0 -35.0 -69.0 -81.0 -78.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_415' -12.0 -60.0 -62.0 -14.0 -71.0 -77.0 -71.0 2]
***************************************
Outlier removido con valor -16.0  en columna # 1
['ID_416' -16.0 -58.0 -58.0 -13.0 -68.0 -76.0 -90.0 2]
***************************************
Outlier removido con valor -15.0  en columna # 1
['ID_477' -15.0 -60.0 -59.0 -37.0 -65.0 -74.0 -73.0 2]
***************************************
Outlier removido con valor -14.0  en columna # 1
['ID_480' -14.0 -59.0 -64.0 -16.0 -79.0 -76.0 -72.0 2]
***************************************
Outlier removido con valor -13.0  en columna # 1
['ID_481' -13.0 -63.0 -65.0 -16.0 -74.0 -73.0 -74.0 2]
***************************************
Outlier removido con valor -13.0  en columna # 1
['ID_482' -13.0 -60.0 -63.0 -18.0 -70.0 -73.0 -73.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_483' -12.0 -60.0 -68.0 -15.0 -74.0 -73.0 -70.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_484' -12.0 -64.0 -63.0 -18.0 -69.0 -72.0 -74.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_485' -17.0 -63.0 -65.0 -27.0 -86.0 -72.0 -74.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_504' -17.0 -59.0 -63.0 -15.0 -70.0 -76.0 -85.0 2]
***************************************
Outlier removido con valor -15.0  en columna # 1
['ID_643' -15.0 -58.0 -56.0 -15.0 -74.0 -76.0 -71.0 2]
***************************************
Outlier removido con valor -14.0  en columna # 1
['ID_644' -14.0 -54.0 -57.0 -15.0 -69.0 -82.0 -71.0 2]
***************************************
Outlier removido con valor -10.0  en columna # 1
['ID_645' -10.0 -57.0 -57.0 -36.0 -73.0 -82.0 -72.0 2]
***************************************
Outlier removido con valor -14.0  en columna # 1
['ID_646' -14.0 -55.0 -57.0 -34.0 -67.0 -71.0 -72.0 2]
***************************************
Outlier removido con valor -14.0  en columna # 1
['ID_647' -14.0 -55.0 -58.0 -36.0 -67.0 -72.0 -74.0 2]
***************************************
Outlier removido con valor -15.0  en columna # 1
['ID_648' -15.0 -55.0 -57.0 -16.0 -71.0 -72.0 -74.0 2]
***************************************
Outlier removido con valor -16.0  en columna # 1
['ID_649' -16.0 -55.0 -56.0 -15.0 -64.0 -78.0 -76.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_650' -17.0 -53.0 -57.0 -17.0 -70.0 -77.0 -73.0 2]
***************************************
Outlier removido con valor -13.0  en columna # 1
['ID_729' -13.0 -54.0 -57.0 -21.0 -77.0 -72.0 -72.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_730' -12.0 -54.0 -54.0 -11.0 -70.0 -75.0 -74.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_731' -17.0 -56.0 -54.0 -36.0 -66.0 -73.0 -77.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_738' -17.0 -57.0 -55.0 -15.0 -62.0 -68.0 -70.0 2]
***************************************
Outlier removido con valor -17.0  en columna # 1
['ID_739' -17.0 -56.0 -57.0 -35.0 -71.0 -69.0 -74.0 2]
***************************************
Outlier removido con valor -11.0  en columna # 1
['ID_740' -11.0 -63.0 -65.0 -18.0 -70.0 -72.0 -73.0 2]
***************************************
Outlier removido con valor -10.0  en columna # 1
['ID_741' -10.0 -58.0 -54.0 -18.0 -70.0 -72.0 -73.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_742' -12.0 -55.0 -57.0 -16.0 -70.0 -76.0 -75.0 2]
***************************************
Outlier removido con valor -12.0  en columna # 1
['ID_743' -12.0 -56.0 -58.0 -16.0 -70.0 -75.0 -79.0 2]
***************************************
Outlier removido con valor -10.0  en columna # 1
['ID_744' -10.0 -58.0 -62.0 -20.0 -73.0 -76.0 -74.0 2]
***************************************
Outlier removido con valor -13.0  en columna # 1
['ID_745' -13.0 -55.0 -55.0 -21.0 -70.0 -73.0 -77.0 2]

'\ndatasetSinOutlier = dataset.to_numpy() \n\nfor b in range(1,8):\n    datasetSinOutlier = removeOutlier(datasetSinOutlier,b)\n    \n\nprint("################################################################")\nprint("A continuacion se muestra el dataset sin outliers, descartados bajo el criterio de desviacion estandar ")\nprint(datasetSinOutlier)\n'

# Transformacion de datos